<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="koreanAir.copy.mapper.MemberMapper">
	
	<resultMap type="koreanAir.copy.model.MemberVO" id="MemberMap">
		<id property="userId" column="userId"/>
		<result property="userId" column="userId"/>
		<result property="userPw" column="userPw"/>
		<result property="userName" column="userName"/>
		<result property="userNameEng" column="userNameEng"/>
		<result property="email" column="email"/>
		<result property="gender" column="gender"/>
		<result property="dateOfBirth" column="dateOfBirth"/>
		<result property="phoneNumber" column="phoneNumber"/>
		<result property="countryOfResidence" column="countryOfResidence"/>
		<result property="enabled" column="enabled"/>
		<result property="regDate" column="regDate"/>
		<result property="updateDate" column="updateDate"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	<resultMap type="koreanAir.copy.model.AuthVO" id="authMap">
		<result property="userId" column="userId"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<insert id="insert">
		insert into member_tbl(userId,userPw,userName,userNameEng
								,email,dateOfBirth,phoneNumber
								,countryOfResidence,gender
								)
		value(#{userId},#{userPw},#{userName},#{userNameEng}
			 ,#{email},#{dateOfBirth},#{phoneNumber}
			 ,#{countryOfResidence},#{gender});
	</insert>
	
	<insert id="authenticate">
		insert into authorities(userId,auth)
		value(#{userId}, #{auth});
	</insert>
	
	<select id="authList" resultType="koreanAir.copy.model.AuthVO">
		select * from authorities
	</select>
	
	<select id="read" resultMap="MemberMap">
		select * from member_tbl M
		inner join authorities A
		on M.userid = A.userid
		where M.userId = #{userId}
	</select>
</mapper>